<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h2 style="text-align: center;">Available Positions</h2>
          <hr>
          <div class="row">
            <div id="job-list" class="col-lg-12">
            </div>
          </div>
          <p class="result"></p>


        </div>
        <div class="col-lg-3 ml-auto">
          <div class="mb-3">
            <p class="mb-0 font-weight-bold text-black">Address</p>
            <p class="mb-4" style="margin-bottom: 0px !important; font-weight: 900;">Amazing Life LLC</p>
            <p class="mb-4">11872 Emery Village Drive North <br /> Champlin, MN 55316</p>

            <p class="mb-0 font-weight-bold text-black">Phone</p>
            <p class="mb-4"><a href="tel:952-688-8361">952-688-8361</a></p>

            <p class="mb-0 font-weight-bold text-black">Email</p>
            <p class="mb-0"><a href="mailto:info@healingholistically.net">@healingholistically.net</a></p>

          </div>
          <div class="mb-3" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.85913039608!2d-93.3875302!3d45.16970239999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b339342afc0a33%3A0x53498b558226a224!2s11872%20Emery%20Village%20Dr%20N%2C%20Champlin%2C%20MN%2055316!5e0!3m2!1sen!2sus!4v1670297748618!5m2!1sen!2sus"
              width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>